@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-BoldLC.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-BlackLC.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-BlackHC.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-LC.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-LightLC.woff2");
  font-weight: 300;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::backdrop,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "thunder", sans-serif;
  font-family: panchang, sans-serif;
  background-color: #2d2a2b;
  color: #f2eee7;
  font-size: 1.4rem;
  /* overflow: hidden; */
}
.wrapper {
  /* border: 1px solid red; */
  max-width: 2160px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: auto;
}
.color-1 {
  background-color: #f2eee7;
}
.color-2 {
  background-color: #2d2a2b;
}
.color-3 {
  background-color: #978568;
}
.color-4 {
  background-color: #1e1f1e;
}
.hero {
  height: 100vh;
  /* border: 1px solid red; */
  /* padding: clamp(1rem, 4rem, 5rem);/ */
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
  height: 10vh;
  padding: 2rem 2rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 60%;
  /* border: 1px solid red; */
}
.container {
  transform: translateY(-12rem);
}

h1,
.container > p {
  /* font-size: 8rem; */
  font-size: clamp(2rem, 7vw, 10rem);
  font-weight: 900;
  letter-spacing: 1rem;
}
.container > h1 {
  -webkit-text-stroke: 1px #f2eee7;
  -webkit-text-fill-color: #2d2a2b;
}

.about {
  background-color: #f2eee7;
  color: #2d2a2b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-top: -10rem;
  clip-path: polygon(0 27%, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 400px) {
  nav {
    width: 100%;
    /* border: 1px solid red; */
  }
  nav ul {
    font-size: 1.2rem;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
  }
  .hero {
    padding: 1rem;
    position: relative;
    height: 90vh;
  }
  .container {
    position: relative;
    top: -10rem;
    transform: translateY(5rem);
  }
  .about {
    /* clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%); */
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    line-height: 2.5rem;
    /* letter-spacing: 0.1srem; */
  }
}
