@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-BoldLC.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-BlackLC.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-BlackHC.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-LC.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "thunder";
  src: url("./fonts/Thunder-LightLC.woff2");
  font-weight: 300;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::backdrop,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

 body {
  font-family: "thunder", sans-serif;
  font-family: panchang, sans-serif;
  color: black;
  font-size: 1.4rem;
}
.wrapper {
  max-width: 2160px;
  margin: auto;
}

.header{
  background: url('grass.jpg');

background-size: cover;
background-color: rgba(7, 7, 7,0.95);

background-blend-mode: overlay;
height: 100vh;
font-size: 9rem;
padding: 3rem;
}
nav{
  font-size: 1.2rem;
}
.header h1, .header p{
  color: white;
}

.noise{
  width: 100%;
  height: 20vh;
  background: url('water.jpg');
  mix-blend-mode: overlay;
  opacity: 1;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  padding: 2rem 1rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 60%;
}
nav ul li{
  letter-spacing: .2rem;
  color: white;
}
  .container {
    transform: translateY(-10rem);
  }

h1,
.container > p {
  font-size: clamp(2rem, 7vw, 10rem);
  font-weight: 900;
  letter-spacing: 1rem;
}
.container > h1 {
  -webkit-text-stroke: 1px #f2eee7;
  /* -webkit-text-fill-color: #2d2a2b; */
  -webkit-text-fill-color: #060616;
}

.about,
.projects,
.contact {
  /* background-color: #f2eee7;
  color: #2d2a2b; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  /* clip-path: polygon(0 27%, 100% 0, 100% 100%, 0% 100%); */
}
.about{
  background-color:white;
  color: white;
  background: url('water.jpg');
background-size: cover;
background-color: rgba(7, 7, 7,0.95);

/* background-color: rgba(7, 7, 7,0.95);
background-color: rgba(218, 133, 7, 0.95); */

background-blend-mode: overlay;
}
.projects {
  background-color: black;
  color: #f2eee7;
  display: flex;
  flex-direction: column;
  background: url('water.jpg');
background: url('grass.jpg');

background-size: cover;
background-blend-mode: overlay;
background-color: rgba(7, 7, 7,0.95);

}
.projects h2{
  margin-bottom: 5rem;
  font-size: 3rem;
}
.contact{
  background: url('water.jpg');
background-size: cover;
background-color: rgba(7, 7, 7,0.95);
background-color: rgba(197, 191, 191, 0.95);


background-blend-mode: overlay;
}
.contact i {
  color: #2d2a2b;
  font-size: clamp(3rem, 3vw, 4rem);
}
.socials ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}
.contact-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left{
  font-size: 3rem;
}
.right{
  width: 50%;
}

form{

}
input{
  display: block;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: panchang, sans-serif;
  color: black;
  /* opacity: 0.5; */
}
::placeholder{
  color: black;
  font-weight: 500;
}
textarea{
  width: 100%;
  border: 1px solid black;
  padding: 2rem;
  font-family: panchang, sans-serif;

}
button{
  width: 100%;
  padding: 3rem;
  margin-top: 3rem;
  background-color:black;
  color: white;
  font-family: panchang, sans-serif;
  letter-spacing: .5rem;
}













@media only screen and (max-width: 400px) {
  .header{
    padding: .5rem;
    /* border: 1px solid red; */
  }
  nav {
    width: 100%;
    margin-bottom: 30%;
  }
  nav ul {
    font-size: 1.2rem;
    justify-content: space-between;
    width: 100%;
  }
  nav ul li{
    font-size: 1rem;
  }
  .noise{
    max-height: 10vh;
  }
  .container {
    position: relative;
    top: -10rem;
    transform: translateY(5rem);
  }
  .about {
    /* clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%); */
    line-height: 2.5rem;
    height: 100vh;
  }
  .projects {
    
  
  }
  
  .contact {
    
    
  }
  .left h2{
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .contact-container{
  
    display: flex;
    flex-direction: column;
  }

  .right{
    width: 100%;
    font-size: 1.4rem;
  }
  input{
    padding: 1rem;
  }
  ::placeholder{
    font-size: 1.2rem;
  }
  textarea{
    padding: 1rem;
  }
  button{
    padding: 2rem;
    font-size: 1.rem;
  }
}
